

.friend {
  background-color: white;
  padding: 10px 14px;
  min-height: 345px;
  border-radius: 2px;
  .search-container{
    display: flex;
    justify-content: space-between;
    padding: 0 10px;
    .input-field.col{
      left:0;
    }
  }
  .list {
    border: 1px solid #e0e0e0;
    border-radius: 2px;
    margin-bottom: 10px;
    box-shadow: 0 2px 2px 0 #dedede;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
    .leftBox {
      .name {
        font-size: 18px;
        font-weight: 600;
      }
      .desc {
        color: slategray;
      }
    }
    .rightBox {
      display: flex;
      .icon-container {
        cursor: pointer;
        padding: 5px 10px;
        border: 1px solid #bdbdbd;
        border-radius: 5px;
        margin-left: 15px;    
        .material-icons{
            color: #ddd;
            font-size: 28px;
        }
        &.delete {
            .material-icons{
            color: #f44336;
            }
        }
        &.fav {
            .material-icons{
            color: #ffb74d;
            transition: ease-in-out;
            }
        }
      }
    }
  }
}


.page-numbers{
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  li {
    margin-right: 0.3em;
    border-radius: 50%;
    font-size: 18px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
   padding:5px;
   &.active{
     color:blue;
   }
  }
}